form{
  background-position: relative;
    width: 80% !important;
    margin-bottom: 10%;
    background-color: rgba(97, 235, 205, 0.7);
    padding: 20px;
    border-radius: 50px;
    height: 60%;
  }
  form:hover{
    box-shadow: 0 0 10px black;
  }
  p{
    font-family: 'Montserrat Alternates', sans-serif;
  }
  label{
    font-family: 'Roboto Slab', serif;
  }